// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar {
    background: linear-gradient(
        34deg,
        rgba(45, 200, 237, 1) 0%,
        rgba(84, 138, 240, 1) 100%
    );
}

#order-card {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #99d6d3;
}

#profile_div {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#profile {
    width: 100%;
    object-fit: cover;
    margin-right: 20px;
}
