// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar {
    background: linear-gradient(
        34deg,
        rgba(45, 200, 237, 1) 0%,
        rgba(84, 138, 240, 1) 100%
    );
}

#order-card {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #99d6d3;
}
