// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar {
    background-color: #99d6d3;
}

#order-card {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #99d6d3;
}
